* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    width: 550px;
}

header {
    height: 90px;
    background-color: #21222A;
    padding: 30px 25px;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
}

nav > img {
    width: 40px;
    margin-right: 10px;
}

nav > p {
    font-size: 1.4rem;
    font-weight: 700;
    color: #61DAFB;
}

.main-container {
    background-color: #282D35;
    width: 550px;
    height: 460px;
    background-image: url('./assets/reactjs-half.png');
    background-repeat: no-repeat;
    background-position: 100% 60%;  /* x,y position.*/
    background-size: 25%;
}

.main-header-text {
    width: 424px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -2px; /* It's -5% of the font size.*/
    line-height: 100%;
    color: #FFFFFF;
    margin: 0px;
}

.main-header-container {
    padding-top: 58px;
    padding-left: 27px;
}

.main-body-container {
    padding-top: 47px;
    height: 362px;
}

.main-facts-ul {
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    padding-left: 74px;
    max-width: 390px;
    height: 190px;
}

.main-facts-ul > li {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0px;
    margin-bottom: 20px;
    list-style: none; /* Remove default list style */
}

.main-facts-ul > li::before { /* pseudo-element */
    content: '\2022'; /* Replace with your desired symbol unicode or character */
    position: absolute;
    left: 51px;
    color: #61DAFB; /* Custom color for the bullet */
    font-size: 20px; /* Adjust the bullet size as needed. Unicodes trated as text*/
}